

.App {
  min-height: 100vh;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8b82dbd7fe9677e9218686a427ea6d7&auto=format&fit=crop&w=750&q=80) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
  }

  .delete-button-intro {
    margin-right: 30px;
    margin-top: 27px;
  }

.delete-all{
  margin-top: 30px;
  margin-right: 30px;
  font-weight: 800;
  font-family: 'Oswald', sans-serif;
  border-radius: 20px;

  
}
.delete-all:hover{
  background: none;
 
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid red;
  color: red;
}

.tracker{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 60px;
  margin-right: 25px;

}


.titles {
  display: flex;
  justify-content: space-around;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
    1px 1px 0 white;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

.add-btn-contain{
  display: flex;
  justify-content: space-around;
}

.add-btn {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 20px;
  width: 10vw;
  background: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;

  
}

.add-btn:hover {
  background: white;
  color: black;
  width: 10vw;
  border: 1px solid black;
  font-weight: bolder;
}

.earned {
  border-radius: 20px;
  text-align: center;
}


.spent-title {
  margin-right: 25px;
}

.spent {
  border-radius: 20px;
  text-align: center;
}

.spentOn {
  border-radius: 20px;
  text-align: center;
}

.totals {
  display: flex;
  justify-content: space-around;
  margin-top: -60px;
}

.earn-total {
  color: green;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.spent-total {
  color: red;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.update-amt {
  border-radius: 20px;
}

.cash-contain {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.last-btn {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

.listed-out {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
   
}

.transaction-name {
  display: flex;
  flex-direction: row; 
  justify-content: end;
}

.transaction-change {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.transaction-button {
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  background: white;
  font-size: 15px;
  height: 25;
}

.transaction-button:hover{
  border: 1px solid black;
  background: none;
}

.transaction-button-1 {
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  background: white;
  font-size: 15px;
  height: 25px;
  margin-top: 30px;
  margin-left: 70px;
}

.transaction-button-1:hover {
  background: none;
  font-weight: bold;
  border: 1px solid red;
  color: red;
}

.amount {
  text-align: center;
}

.date {
  text-align: center;
}

.icons {
  display: flex;
  justify-content:flex-end; 
  margin-right: 15px;
  font-size: 15px;

}

.social-btn {
background: none;
border: 1px solid black;
font-size: 15px;
margin: 20px 20px;
}

.social-btn:hover{
  background: white;
}

a {
  text-decoration: none;
  color: black;
  margin: 20px;
  margin-top: 25px;
}

@media only screen and (max-width: 600px) {
  .icons {
    display: none;
  }
}